src/layer_config/schema/archive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ArchiveConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Archive"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Archive">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Location"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Location" type="xs:string"/>
</xs:schema>
