src/layer_config/schema/environment_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="EnvironmentConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="GetCapabilitiesLocation"/>
        <xs:element ref="GetTileServiceLocation"/>
        <xs:element ref="CacheLocation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapabilitiesLocation">
    <xs:complexType mixed="true">
      <xs:attribute name="service" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTileServiceLocation" type="xs:string"/>
  <xs:element name="CacheLocation" type="xs:string"/>
</xs:schema>
