src/layer_config/schema/layer_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LayerConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Identifier"/>
        <xs:element ref="Title"/>
        <xs:element ref="FileNamePrefix"/>
        <xs:element ref="HeaderFileName" minOccurs="0"/>
        <xs:element ref="DataFileLocation" minOccurs="0"/>
        <xs:element ref="IndexFileLocation" minOccurs="0"/>
        <xs:element ref="Compression"/>
        <xs:element ref="Levels"/>
        <xs:element ref="EmptyTileSize"/>
        <xs:element ref="Projection"/>
        <xs:element maxOccurs="unbounded" ref="Pattern"/>
        <xs:element maxOccurs="unbounded" ref="GetCapabilitiesLocation"/>
        <xs:element ref="GetTileServiceLocation"/>
        <xs:element ref="CacheLocation"/>
        <xs:element ref="ColorMap" minOccurs="0"/>
        <xs:element ref="Time" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="WMTSEndPoint" minOccurs="0"/>
        <xs:element ref="TWMSEndPoint" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identifier" type="xs:NCName"/>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="FileNamePrefix">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="static" use="required" type="xs:boolean"/>
          <xs:attribute name="year" use="required" type="xs:boolean"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeaderFileName" type="xs:NCName" nillable="true"/>
  <xs:element name="DataFileLocation" type="xs:string" nillable="true"/>
  <xs:element name="IndexFileLocation" type="xs:string" nillable="true"/>
  <xs:element name="Compression" type="xs:NCName"/>
  <xs:element name="Levels" type="xs:integer"/>
  <xs:element name="EmptyTileSize">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="offset" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Projection" type="xs:string">
  </xs:element>
  <xs:element name="Pattern" type="xs:string"/>
  <xs:element name="GetCapabilitiesLocation">
    <xs:complexType mixed="true">
      <xs:attribute name="service" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTileServiceLocation" type="xs:string"/>
  <xs:element name="CacheLocation" type="xs:string"/>
  <xs:element name="ColorMap" type="xs:anyURI"/>
  <xs:element name="Time" type="xs:string" nillable="true"/>
  <xs:element name="WMTSEndPoint" type="xs:NCName" nillable="true"/>
  <xs:element name="TWMSEndPoint" type="xs:NCName" nillable="true"/>
</xs:schema>
