src/layer_config/schema/projection_configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ProjectionConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Projection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Projection">
    <xs:complexType mixed="true">
      <xs:attribute name="dir" use="required" type="xs:NCName"/>
      <xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
