src/onearth_logs/logs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="LogConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ApacheLogFormat"/>
        <xs:element ref="OutputLog"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApacheLogFormat" type="xs:string"/>
  <xs:element name="OutputLog" type="xs:string"/>
</xs:schema>
